<div id="cat-title">
  <h1><%= @category.name %></h1>
</div>
<h1><%= @category.name %></h1>
  <%= image_tag @category.image_url %>
<p><%= @category.description %></p>
<iframe width="560" height="315" src="<%= @category.video_url %> " frameborder="0" allowfullscreen></iframe>
